<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% if request.resolver_match.url_name == 'index_symposium' %}
<style>
  svg path {
    z-index: -1;
  }

  svg path#animate {
    fill: transparent;
    stroke-dashoffset: 141;
    stroke-dasharray: 141;
    animation: path 1s cubic-bezier(0.47, 0, 0.75, 0.72) forwards;
    z-index: 1;
  }

  @keyframes path {
    to {
      stroke-dashoffset: 0;
    }
  }

  [x-cloak] {
    display: none !important;
  }
</style>
{% endif %}
<nav class="bg-gray-50 bg-opacity-20" x-data="{ mobile_menu: false }" x-cloak>
  <div class="max-w-7xl mx-auto px-2 md:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
        <button
          type="button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-900 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            x-on:click="mobile_menu = !mobile_menu"
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              x-bind:d=" mobile_menu? 'M6 18L18 6M6 6l12 12' : 'M4 6h16M4 12h16M4 18h16'"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex-1 flex items-center justify-center md:items-stretch md:justify-start"
      >
        {% if request.resolver_match.url_name == 'index_symposium' %}
        <div class="flex-shrink-0 flex items-center">
          {% else %}
        <a class="flex-shrink-0 flex items-center cursor-pointer" href="/">
        {% endif %}
          <svg
            width="40"
            height="40"
            viewBox="0 0 44 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M44 44H12.3993C9.59954 43.7694 4 42.0166 4 36.8506V11.9431C4 5.46063 6.0654 4.28637 9.64544 4.10187C13.2255 3.91737 21.969 4.025 25.8933 4.10187C27.9816 4.1275 32.296 4.10187 32.296 14.7106L4 28.5231"
              stroke="white"
              stroke-width="6"
            />
            <path
              id="animate"
              d="M44 44H12.3993C9.59954 43.7694 4 42.0166 4 36.8506V11.9431C4 5.46063 6.0654 4.28637 9.64544 4.10187C13.2255 3.91737 21.969 4.025 25.8933 4.10187C27.9816 4.1275 32.296 4.10187 32.296 14.7106L4 28.5231"
              stroke="#e13236"
              stroke-width="7"
            />
          </svg>
          {% if request.resolver_match.url_name == 'index_symposium' %}
        </div>
            {% else %}
        </a>
          {% endif %}
        <div class="hidden md:block md:ml-6">
          <div class="flex space-x-4">
            {% for page in pages.general %}
            {% if request.resolver_match.url_name == page.link %}
              <a
                href="{{ page.link }}"
                class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
              >
                {{ page.name }}
              </a>
              {% else %}
              <a
                href="{{ page.link }}"
                class="text-white bg-gray-400 bg-opacity-80 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
              >
                {{ page.name }}
              </a>
              {% endif %} {% endfor %}
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 md:static md:inset-auto md:ml-6 md:pr-0"
      >
      {% if not user.is_authenticated %} 
      <div class="hidden md:flex md:visible space-x-4">
        {% for page in pages.authentication %}
        {% if request.resolver_match.url_name == page.link %}
            <a
              href="{{ page.link }}"
              class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
            >
              {{ page.name }}
            </a>
            {% else %}
            <a
              href="{{ page.link }}"
              class="text-white bg-gray-400 bg-opacity-80 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            >
              {{ page.name }}
            </a>
            {% endif %}
        {% endfor %} 
      </div>
      {% else %}
      <div class="flex space-x-1 sm:space-x-4">
      <a
        href="logout"
          class="text-white bg-gray-400 bg-opacity-80 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            >
              Logout
            </a>
            </div>
      {% endif %}
    </div>
    </div>
  </div>
  <div
    class="md:hidden absolute bg-gray-800 w-full"
    id="mobile-menu"
    x-show="mobile_menu"
  >
    <div class="px-2 pt-2 pb-3 space-y-1">
      {% if user.is_authenticated %} 
      <div class="text-gray-300 px-3 py-2 rounded-md text-base font-medium block" >Hello, {{ user.username }}</div>
      {% for page in pages.general %} 
      {% if request.resolver_match.url_name == page.link %}
      <a
        href="{{ page.link }}"
        class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
      >
        {{ page.name }}
      </a>
      {% else %}
      <a
        href="{{ page.link }}"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
      >
        {{ page.name }}
      </a>
      {% endif %} {% endfor %} {% else %} {% for page in pages.authentication %}
      <a
        href="{{ page.link }}"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >{{page.name}}</a
      >
      {% endfor %} {% endif %}
    </div>
  </div>
</nav>
