{% extends 'base.html' %} {% load static %} 
{% block title %} Exhibition Space - {% endblock %} 
{% block content%} 
{% include 'navbar.html' %} 

<script defer src="{% static 'three.min.js' %}"></script>
<script defer src="{% static 'OrbitControls.js' %}"></script>
<script defer src="{% static 'GLTFLoader.js' %}"></script>
<script defer src="{% static 'Capsule.js' %}"></script>
<script defer src="{% static 'Octree.js' %}"></script>
<div class="fixed left-0 top-0 -z-10" id="exhibition_space"></div>
<script defer type="module">
  
let no_of_exibition_space = 1
let data = [
    {
        name:'plane',
        path:"{% static 'symposium/lobby_images&model/eyrc.jpg' %}",
        url:"https://www.youtube.com/watch?v=VXgX-qQnTZU",
        position:[4,2,-1],
        rotation:-90,
        height:2.5,
        width:5,
    }, 
    {
        name:'plane0',
        path:"{% static 'symposium/lobby_images&model/eyrc.jpg' %}",
        url:"https://www.youtube.com/watch?v=VXgX-qQnTZU",
        position:[-6,2.5,-6],
        rotation:90,
        height:4,
        width:3,
    }, 
    {
        name:'plane1',
        path:"{% static 'symposium/lobby_images&model/poster.png' %}",
        url:"https://www.youtube.com",
        position:[-4,2,-1],
        rotation:0,
        height:3,
        width:5,
    },

    {
        name:'plane2',
        path:"{% static 'symposium/lobby_images&model/poster.png' %}",
        url:"https://www.youtube.com",
        position:[8,5,-0.9],
        rotation:-90,
        height:3,
        width:5,
    }
]






const clock = new THREE.Clock();

const scene = new THREE.Scene();
scene.background = new THREE.Color( 0x88ccee );


const camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 0.1, 1000 );
camera.rotation.order = 'YXZ';


const container = document.getElementById( 'exhibition_space' );

const renderer = new THREE.WebGLRenderer( { antialias: true } );
renderer.setPixelRatio( window.devicePixelRatio );
renderer.setSize( window.innerWidth, window.innerHeight );
renderer.outputEncoding = THREE.sRGBEncoding;
renderer.toneMapping = THREE.ACESFilmicToneMapping;
container.appendChild( renderer.domElement );



const GRAVITY = 30;

const STEPS_PER_FRAME = 5;


const worldOctree = new THREE.Octree();

const playerCollider = new THREE.Capsule( new THREE.Vector3( 0, 0.35, 0 ), new THREE.Vector3( 0, 1, 0 ), 0.35 );

const playerVelocity = new THREE.Vector3();
const playerDirection = new THREE.Vector3();

let playerOnFloor = false;
let mouseTime = 0;

const keyStates = {};

const raycaster = new THREE.Raycaster();
const pointer = new THREE.Vector2();

document.addEventListener( 'keydown', ( event ) => {

    keyStates[ event.code ] = true;

} );

document.addEventListener( 'keyup', ( event ) => {

    keyStates[ event.code ] = false;

} );


let mousedown =false

container.addEventListener( 'mousedown', () => {
  
    mousedown =true

} );

document.addEventListener( 'mouseup', () => {

    mousedown =false

} );

document.body.addEventListener( 'mousemove', ( event ) => {

    if (mousedown){
        camera.rotation.y -= event.movementX / 200;
        camera.rotation.x -= event.movementY / 500;
    }

} );

window.addEventListener( 'resize', onWindowResize );

function onWindowResize() {

    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();

    renderer.setSize( window.innerWidth, window.innerHeight );

}



function playerCollisions() {

    const result = worldOctree.capsuleIntersect( playerCollider );

    playerOnFloor = false;

    if ( result ) {

        playerOnFloor = result.normal.y > 0;

        if ( ! playerOnFloor ) {

            playerVelocity.addScaledVector( result.normal, - result.normal.dot( playerVelocity ) );

        }

        playerCollider.translate( result.normal.multiplyScalar( result.depth ) );

    }

}

function updatePlayer( deltaTime ) {

    let damping = Math.exp( - 4 * deltaTime ) - 1;

    if ( ! playerOnFloor ) {

        playerVelocity.y -= GRAVITY * deltaTime;

        // small air resistance
        damping *= 0.1;

    }

    playerVelocity.addScaledVector( playerVelocity, damping );

    const deltaPosition = playerVelocity.clone().multiplyScalar( deltaTime );
    playerCollider.translate( deltaPosition );

    playerCollisions();

    camera.position.copy( playerCollider.end );

}

function getForwardVector() {

    camera.getWorldDirection( playerDirection );
    playerDirection.y = 0;
    playerDirection.normalize();

    return playerDirection;

}

function getSideVector() {

    camera.getWorldDirection( playerDirection );
    playerDirection.y = 0;
    playerDirection.normalize();
    playerDirection.cross( camera.up );

    return playerDirection;

}

function controls( deltaTime ) {

    // gives a bit of air control
    const speedDelta = deltaTime * ( playerOnFloor ? 25 : 8 );

    if ( keyStates[ 'KeyW' ] ) {

        playerVelocity.add( getForwardVector().multiplyScalar( speedDelta ) );

    }

    if ( keyStates[ 'KeyS' ] ) {

        playerVelocity.add( getForwardVector().multiplyScalar( - speedDelta ) );

    }

    if ( keyStates[ 'KeyA' ] ) {

        playerVelocity.add( getSideVector().multiplyScalar( - speedDelta ) );

    }

    if ( keyStates[ 'KeyD' ] ) {

        playerVelocity.add( getSideVector().multiplyScalar( speedDelta ) );

    }

    if ( playerOnFloor ) {

        if ( keyStates[ 'Space' ] ) {

            playerVelocity.y = 15;

        }

    }

}
const loader = new THREE.GLTFLoader()



loader.load( "{% static 'symposium/lobby_images&model/my_exhibition_space_with_cabin_right.glb' %}", ( gltf ) => {

    gltf.scene.scale.set(1,1,1)
    scene.add( gltf.scene );
    // console.log(gltf.scene)
    worldOctree.fromGraphNode( gltf.scene );

    gltf.scene.traverse( child => {

        if ( child.isMesh ) {
            if ( child.material.map ) {

                child.material.map.anisotropy = 4;

            }

        }

    } );
    const pointlight = new THREE.PointLight( 0xffffff, 0.2, 100 ); 
    pointlight.position.set( 0, 5, 0 ); 
    scene.add( pointlight );


    animate();

} );


let position = -10.5

for(let i=1;i<=no_of_exibition_space;i++){

    loader.load("{% static 'symposium/lobby_images&model/my_exhibition_space_with_cabin_middle.glb' %}", ( gltf ) => {

        gltf.scene.scale.set(1,1,1)
        gltf.scene.position.set(0,0,position*i)
    
        scene.add( gltf.scene );
        worldOctree.fromGraphNode( gltf.scene );
    
        gltf.scene.traverse( child => {
    
            if ( child.isMesh ) {
                if ( child.material.map ) {
    
                    child.material.map.anisotropy = 4;
    
                }
    
            }
    
        } );

        const pointlight = new THREE.PointLight( 0xffffff, 0.2, 100 ); 
        pointlight.position.set( 0, 5, position*i ); 
        scene.add( pointlight );
        
    
        animate();

       
    
    } );



}





loader.load("{% static 'symposium/lobby_images&model/my_exhibition_space_with_cabin_left.glb' %}", ( gltf ) => {

    gltf.scene.scale.set(1,1,1)
    gltf.scene.position.set(0,0,position*no_of_exibition_space)

    scene.add( gltf.scene );
    // console.log(gltf.scene)
    worldOctree.fromGraphNode( gltf.scene );

    gltf.scene.traverse( child => {

        if ( child.isMesh ) {
            if ( child.material.map ) {

                child.material.map.anisotropy = 4;

            }

        }

    } );

    const pointlight = new THREE.PointLight( 0xffffff, 0.2, 100 ); 
    pointlight.position.set( 0, 5, position*no_of_exibition_space ); 
    scene.add( pointlight );


    animate();

} );








// Loader
const textureLoader = new THREE.TextureLoader();
const objects = [];
for(let index in data){

    const eyrcImageTexture = textureLoader.load(data[index].path);
    const eyrcImagePlane = new THREE.Mesh(
        new THREE.PlaneBufferGeometry(data[index].height, data[index].height),
        new THREE.MeshStandardMaterial({
        map: eyrcImageTexture,
        side: THREE.DoubleSide,
        })
    );

    eyrcImagePlane.name =data[index].name
   
    eyrcImagePlane.position.set(data[index].position[0],data[index].position[1],data[index].position[2])
    eyrcImagePlane.rotation.y=data[index].rotation*(Math.PI/180)
    scene.add(eyrcImagePlane)
    objects.push(eyrcImagePlane)


    // const pointlight = new THREE.PointLight( 0xffffff, 0.2, 50 ); 
    // pointlight.position.set( data[index].position[0],data[index].position[1],data[index].position[2] ); 
    // scene.add( pointlight );

    const width = 7;
    const height = 5;
    const intensity = 1;
    const rectLight = new THREE.RectAreaLight( 0xffffff, intensity,  width, height );
    rectLight.position.set( 0, 5, 0 );
    rectLight.lookAt( data[index].position[0],data[index].position[1],data[index].position[2] );
    scene.add( rectLight )

    

}


// Raycaster


window.addEventListener('pointermove', (event) => {
// calculate pointer position in normalized device coordinates
// (-1 to +1) for both components
pointer.x = (event.clientX / window.innerWidth) * 2 - 1;
pointer.y = -(event.clientY / window.innerHeight) * 2 + 1;
});
window.addEventListener('click', () => {
    mouseTime = performance.now();
    document.addEventListener( 'mouseup', () => {

        // console.log(mouseTime-performance.now())

        if(mouseTime-performance.now()>=-800){
            const intersects = raycaster.intersectObjects(objects);
            for (let intersect of intersects) {
                for(let index in data){
                    if(data[index].name == intersect.object.name){
                        window.open(data[index].url,'_blank')
                    }
                }
            }
        }
        
    
    } );
    
    
});


function animate() {

    // console.log(camera.position)

    const deltaTime = Math.min( 0.05, clock.getDelta() ) / STEPS_PER_FRAME;

    // we look for collisions in substeps to mitigate the risk of
    // an object traversing another too quickly for detection.

    for ( let i = 0; i < STEPS_PER_FRAME; i ++ ) {

        controls( deltaTime );

        updatePlayer( deltaTime );

    }

    raycaster.setFromCamera(pointer, camera);

    renderer.render( scene, camera );



    requestAnimationFrame( animate );

}
</script>
{% endblock %}